@model IEnumerable<Seminar_Pin.Models.Ljubimci>

@{
    ViewData["Title"] = "Ljubimci";
}

<h1>Ljubimci za udomljavanje!</h1>

<p>
    <a asp-action="Create">Dodaj novu životinju</a>
</p>
<br />
<br />
<form typeof="get">
    Pretraži:
    <input type  ="search" name="search" value="@ViewBag.Search"/>
    <input type="submit" value="Traži"/>
</form>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRodenja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vrsta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumRodenja)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Izmjeni</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
